@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron rkb" >
    <h1 style="font-family: 'Contrail One', cursive;">The Shop Application</h1>
    <p class="lead">The Shop Application is a free web framework for your product and customer management.</p>
    <p><a href="https://elearning.it-tallaght.ie/login/index.php" class="btn btn-primary btn-lg">IT Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Shop App</h2>
        <p>Created By:</p>
        <ul>
            <li style="font-family: 'Lobster', cursive;font-size:large">Aline da Silva</li>
            <li style="font-family: 'Playball', cursive; font-size:large">Niall McClelland</li>
            <li style="font-family: 'Aldrich', sans-serif; font-size:large">Rafal Kita</li>
        </ul>
        <p>Tools & Technology used:</p>
        
            <a href="https://www.visualstudio.com/downloads/" class="btn btn-light btn-lg" target="_blank">Microsoft Visual Studio &raquo;</a>
            <a href="https://aws.amazon.com/elasticbeanstalk/" class="btn btn-light btn-lg" target="_blank">AWS Elastic Beanstalk &raquo;</a>
            <a href="https://aws.amazon.com/rds/" class="btn btn-light btn-lg" target="_blank">AWS - RDS &raquo;</a>
        
    </div>
    <div class="col-md-4">
        <h2><cite style="font-family: 'Aldrich', sans-serif">EAD - </cite>Enterprise Applications Development</h2>
        <p>The Blog We Like</p>
        <ul>
            <li>MVC code-first with related...</li>
            <li>MVC Shopping cart</li>
            <li>Movies 5 - Authentication</li>
            <li>Movies 4 - Client</li>
            <li>Movies 3 - The REST of the CRUD</li>
            <li>Movies 2 - The REST API talking to a db</li>
            <li>Movies 1 - Setting up the Movies db Code-First</li>
        </ul>
        <p><a class="btn btn-default" href="http://dermotb.blogspot.ie/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Institute of Technology Tallaght</h2>
        <p>
            TThe Mmission of Institute of Technology Tallaght is to be the centre of higher education and knowledge creation within South Dublin County
            and its environs, to broaden participation in higher education in the region..<br />The institute was established as Tallaght Regional
            Technical College, in 1992, at that time the final new Regional Technical College opened in Ireland. It was built on lands donated to the
            Irish government by the Dominicans in Tallaght, for Educational use.
        </p>
        <p><a class="btn btn-default" href="http://www.it-tallaght.ie/">Explore more &raquo;</a></p>
    </div>
</div>