@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:blueviolet; font-family: 'Contrail One', cursive;">
    <h1 style="font-family: 'Contrail One', cursive;">The Shop Application</h1>
    <p class="lead">The Shop Application is a free web framework for your product and customer management.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to The Shop Application</h2>
        <p>This is sample CA2 Project. Hosted in the cloud</p>
    </div>
    <div class="col-md-4">
        <h2>Info Paragraph 2</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Info Paragraph 3</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>