
@{
    ViewBag.Title = "Team";
}

<h2>Meet the Team</h2>

<div class="row">
    <div class="column2">
        <div class="card2">
            <div class="text-center">
                <img src="https://media.licdn.com/dms/image/C5603AQFVjthV-jcGug/profile-displayphoto-shrink_800_800/0?e=1531958400&v=beta&t=YL5w8RzEyLnCSMDtlVDwuT6gr8Zz2ZMzr1WxU6sUX8A" alt="Jane" style="width:50%" class="img-circle">
            </div>
            <div class="container2">
                <h2>Aline da Silva</h2>
                <p class="title2">CEO</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>acarmodasilva@yahoo.com.br</p>
                <p><a class="button2" href="https://www.linkedin.com/in/aline-da-silva-979b8366/" target="_blank">Linkedin </a></p>

            </div>
        </div>
    </div>

    <div class="column2">
        <div class="card2">
            <div class="text-center">
                <img src="https://s3-eu-west-1.amazonaws.com/glowcloud.xyz/img/person2.png" alt="Niall" style="width:50%" class="img-circle">
            </div>
            <div class="container2">
                <h2>Niall McClelland</h2>
                <p class="title2">CEO</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><a class="button2" href="https://en.wikipedia.org/wiki/Homer_Simpson" target="_blank">Linkedin </a></p>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card2">
            <div class="text-center">
                <img src="https://s3-eu-west-1.amazonaws.com/glowcloud.xyz/img/person3.png" alt="Jane" style="width:50%" class="img-circle">
            </div>
            <div class="container2">
                <h2>Rafal Kita</h2>
                <p class="title2">CEO</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><a class="button2" href="https://en.wikipedia.org/wiki/Bart_Simpson" target="_blank">Linkedin </a></p>
            </div>
        </div>
    </div>
</div>
